* {
    background-color: black;
    font-family: sans-serif;
    margin: 10px 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2 {
    color: white;
}

.app h2 {
    font-size: 28px;
}

a {
    color: aquamarine;
}